@font-face {
	font-family: 'AlarmClock';
	src: url('/pgc/fonts/alarm_clock.ttf') format('truetype');
}
/* Ensure the body and HTML elements take up the full viewport and prevent overflow */
html, body {
	color:#999;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	align-items: center;
	justify-content: center;
	background-color: #3e3b3b;
	font-family: lato, sans-serif;
}

/* Header */
#header {
        border:1px solid #444;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	background: #121212;
	color: #fff;
	display:table;
	font-size: 3vh;
	overflow: hidden;
	padding:1vh;
	position:fixed;
	text-overflow: ellipsis;
	top:0;
	white-space: nowrap;
	width: 100%;
	z-index:500;
}
#header img {
	width:1em;
	display:inline-block;
	vertical-align:middle;
}
#header-spacer {
	height:5vh;
}

/* Bottom menu */
#bottom-menu {
	display:table-row;
}
#bottom-menu-wrapper {
	border:1px solid #444;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	background: #121212;
	display:table;
	font-size:5vh;
	position: fixed;
	padding:1vh;
	bottom: 0;
	width: 100%;
	z-index:500;
}
.bottom-menu-item {
	width:25%;
	text-align:center;
	display:table-cell;
}
.bottom-menu-item a {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	text-decoration: none;
}
#footer-spacer {
	height:7vh;
}

/* camera view */
#camera-view {
	height:100%;
	object-fit: cover;
	width:100%;
}
#camera-wrapper {
	width:100%;
	height:100%;
	position:relative;
}
#countdown {
	display:none;
	position: absolute;
	top: 10vh; /* Adjust as needed */
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 1vw;
	border-radius: 5px;
	font-size: 6vw;
	font-family:'AlarmClock';
	opacity:0.75;
	z-index: 10;
	pointer-events: none;
	text-align:center;
	width:80%;
}
#launch-go {
	font-weight:bold;
}
#launch-select {
	background-color:#121212;
	color:inherit;
	font-family:inherit;
	height:3vh;
	margin-top:6vh;
	width:100%;
	z-index:500;
	position:fixed;
}
#user-stats {
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 5px;
	bottom:10vh;
	color: #fff;
	display: none;
	left:5vw;
        opacity:0.75;
        padding: 3vw;
	position:absolute;
}
#user-distance-direction {
	display: inline-block;
	animation: spin 2s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Launch view */
#launch-countdown {
	font-family:'AlarmClock';
	font-size:7vw;
	text-align:center;
}
.launch-image {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width:25%;
	vertical-align:middle;
}

/* Generic classes */
.block-item {
	background-color: #121212;
	border: 1px solid #444;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	color: #fff;
	font-size:4vw;
	margin:1vh;
	padding:1vw;
	width:calc(100% - 2vw - 2vh - 1px);
}
.block-item-table {
	border-spacing: 3vw;
	display:table;
}
.block-item-tr {
	display: table-row;
}
.block-item-td {
	display: table-cell;
}
.info {
	background-color:#02043b !important;
	font-weight:bold;
}
.white-link {
	color: #ddd;
}
