@font-face {
	font-family: 'AlarmClock';
	src: url('/pgc/fonts/alarm_clock.ttf') format('truetype');
}
/* Ensure the body and HTML elements take up the full viewport and prevent overflow */
html, body {
	color:#999;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	align-items: center;
	justify-content: center;
	background-color: #000;
	font-family: lato, sans-serif;
}

/* Header */
#header {
        border:1px solid #444;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	background: #222;
	font-size: 3vh;
	width: 100%;
}
#header img {
width:1em;
display:inline-block;
vertical-align:middle;
}

/* Bottom menu */
#bottom-menu {
	display:table-row;
}
#bottom-menu-wrapper {
	border:1px solid #444;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	background: #222;
	display:table;
	font-size:5vh;
	position: fixed;
	padding:0.5vw;
	bottom: 0;
	width: 100%;
}
.bottom-menu-item {
	width:25%;
	text-align:center;
	display:table-cell;
}
.bottom-menu-item a {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	text-decoration: none;
}

/* launch list */
.launch-item {
background-color: #222;
border: 1px solid #444;
border-radius: 4px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
color: #fff;
margin:1vh;
padding:1vw;
}
